.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
}

.filled-heart:hover {
  cursor: pointer;
  fill: #5b6e82;
}

.outlined-heart:hover {
  cursor: pointer;
  fill: #00B856;
}

.image {
  width: 600px;
  height: 400px;
  background-color: #5b6e82;
}

.description {
  width: 500px;
  font-size: 18px;
}